@model Trade.Infra.Contract.Models.ViewModels.Home.HomeViewModel

@section styles
{
    <link rel="stylesheet" href="~/lib/fullcalendar/dist/fullcalendar.min.css" />
    <link rel="stylesheet" href="~/lib/fullcalendar/dist/fullcalendar.print.css" />
}

<h2>@Model.Date.ToString("yyyy-MM")</h2>

<nav aria-label="Page navigation">
    <ul class="pager">
        <li class="@(Model.PreviousDate.HasValue ? "" : "disabled")">
            <a href="@(Model.PreviousDate.HasValue ? Url.Action("Index", "Home", new {date = Model.PreviousDate}) : "#")">Previous</a>
        </li>
        <li class="@(Model.NextDate.HasValue ? "" : "disabled")">
            <a href="@(Model.NextDate.HasValue ? Url.Action("Index", "Home", new {date = Model.NextDate}) : "#")">Next</a>
        </li>
    </ul>
</nav>

<div id="calendar"></div>

@section scripts
{
    <script src="~/lib/moment/min/moment.min.js"></script>
    <script src="~/lib/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="~/scripts/calendar.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var events = @Html.Raw(Model.Events);
            var date = '@Model.Date.ToString("yyyy-MM-dd")';
            createCalendar($('#calendar'), events, date);
        });
    </script>
}
