@using System.Threading.Tasks
@using Trade.Domain.ValueObjects
@using Trade.Infra.Core.Extensions
@using Trade.UI.Web.Core.Static
@model Trade.UI.Web.Models.ViewModels.Shared.CommonViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.Title</title>

    <environment names="Development">
        <link rel="stylesheet" href="@StaticUrl.GetLibraryUrl("bootstrap/dist/css/bootstrap.css")" />
        <link rel="stylesheet" href="@StaticUrl.GetCssUrl("site.css")" />
        <link rel="shortcut icon" href="@StaticUrl.GetImageUrl("favicon.ico")" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="@StaticUrl.GetLibraryUrl("bootstrap/dist/css/bootstrap.css")" />
        <link rel="stylesheet" href="@StaticUrl.GetCssUrl("site.css")" />
    </environment>
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header text-center">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Calendar" asp-action="Index" class="navbar-brand">@TradeConsts.Calendar</a>
            </div>
            <div class="navbar-collapse collapse text-center">
                <ul class="nav navbar-nav">
                    <li class="@(Model.EventType == CalendarEventType.VolumeIncrease ? "guide" : "")">
                        <a asp-controller="Volume" asp-action="Increase">@(CalendarEventType.VolumeIncrease.GetValue<string>())</a>
                    </li>
                    <li class="@(Model.EventType == CalendarEventType.PriceIncrease ? "guide" : "")">
                        <a asp-controller="Price" asp-action="Increase">@(CalendarEventType.PriceIncrease.GetValue<string>())</a>
                    </li>
                    <li class="@(Model.EventType == CalendarEventType.PriceDecrease ? "guide" : "")">
                        <a asp-controller="Price" asp-action="Decrease">@(CalendarEventType.PriceDecrease.GetValue<string>())</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <environment names="Development">
        <script src="@StaticUrl.GetLibraryUrl("jquery/dist/jquery.js")"></script>
        <script src="@StaticUrl.GetLibraryUrl("bootstrap/dist/js/bootstrap.js")"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="@StaticUrl.GetLibraryUrl("jquery/dist/jquery.js")"></script>
        <script src="@StaticUrl.GetLibraryUrl("bootstrap/dist/js/bootstrap.js")"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>
