@model Trade.Infra.Contract.Models.ViewModels.Price.PriceViewModel

<h2>@Model.TargetDate.ToString("yyyy-MM-dd")</h2>

<nav aria-label="Page navigation">
    <ul class="pager">
        <li class="@(Model.PreviousDate.HasValue ? "" : "disabled")">
            <a href="@(Model.PreviousDate.HasValue ? Url.Action("Index", "Price", new {date = Model.PreviousDate}) : "#")">Previous</a>
        </li>
        <li class="@(Model.NextDate.HasValue ? "" : "disabled")">
            <a href="@(Model.NextDate.HasValue ? Url.Action("Index", "Price", new {date = Model.NextDate}) : "#")">Next</a>
        </li>
    </ul>
</nav>

@if (Model.Items.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th style="text-align: center">No</th>
                <th style="text-align: center">Code</th>
                <th style="text-align: center">Market</th>
                <th>StockName</th>
                <th style="text-align: right">株価</th>
                <th style="text-align: right">値上がり率</th>
                <th style="text-align: right">出来高</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <th scope="row"  style="text-align: center">@item.Ranking</th>
                    <td style="text-align: center">@item.Code</td>
                    <td style="text-align: center">@item.Market</td>
                    <td>@item.Name</td>
                    <td style="text-align: right">@item.Price</td>
                    <td style="text-align: right">@item.IncreaseRate</td>
                    <td style="text-align: right">@item.Volume</td>
                </tr>
            }
        </tbody>
    </table>
}
